*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width:100%;
  /* background-color: rgba(7, 7, 7); */
  background-image: url(./assets/Animated\ Shape2.svg), linear-gradient(to left, #000428, #004e92);
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}
main{
  width: 100%;
  /* height: 100%; */
  display: flex;
  
   
}

.main-for-is-loading{
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-for-questions{
  background-image: url(./assets/Animated\ Shape2.svg) , linear-gradient(to right, #c9d6ff, #e2e2e2);
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(87%2c 149%2c 212%2c 1)'%3e%3c/rect%3e%3cpath d='M450.63 52.71L467.94 52.71L467.94 70.02L450.63 70.02z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1396.86 444.86a39.52 39.52 0 1 0-57.65 54.08z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1119.3 59.84a36.16 36.16 0 1 0-47.53-54.51z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M168.62 453.5 a47.14 47.14 0 1 0 94.28 0 a47.14 47.14 0 1 0 -94.28 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1399.08 140.03L1453.86 140.03L1453.86 163.86L1399.08 163.86z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M912.95 438.43 a41.76 41.76 0 1 0 83.52 0 a41.76 41.76 0 1 0 -83.52 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M671.2 548.37L675.02 548.37L675.02 552.19L671.2 552.19z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M891.49 441.85a40.56 40.56 0 1 0-17.09 79.29z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M707.43-16.32a43.39 43.39 0 1 0 60.97 61.76z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M221.48 337.82 a16.44 16.44 0 1 0 32.88 0 a16.44 16.44 0 1 0 -32.88 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M982.93 253.62L1014.02 253.62L1014.02 260.48L982.93 260.48z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1389.19 214.27L1391.92 214.27L1391.92 249.42L1389.19 249.42z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M247.48 61.81L288.37 61.81L288.37 102.7L247.48 102.7z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M362.23 440.13L374.81 440.13L374.81 452.71L362.23 452.71z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1302.64 442.45a5.14 5.14 0 1 0-7.79 6.71z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M584.78 432.41L597.86 432.41L597.86 484.7L584.78 484.7z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M87.31 8.84a46.13 46.13 0 1 0-80.5 45.06z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M251.61 352.55L264.71 352.55L264.71 359.17L251.61 359.17z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M102.23 275.46L149.48 275.46L149.48 322.71L102.23 322.71z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M302.39 412.04a42.24 42.24 0 1 0 79.52-28.53z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M421.55 13.69L467.42 13.69L467.42 59.56L421.55 59.56z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1067.31 220.48 a29.24 29.24 0 1 0 58.48 0 a29.24 29.24 0 1 0 -58.48 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M25.54 566.5a39.55 39.55 0 1 0 74.18-27.48z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M619 441.44L626.82 441.44L626.82 449.26L619 449.26z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1119.63 171.29L1162.75 171.29L1162.75 219.68L1119.63 219.68z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M680.02 257.96L725.19 257.96L725.19 303.13L680.02 303.13z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M640.78 419.36a5.77 5.77 0 1 0-11.29 2.39z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1426.34 47.15a2.04 2.04 0 1 0-2.22 3.42z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M24.02 504.78L75.16 504.78L75.16 555.92L24.02 555.92z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M891.48 191.86a7.18 7.18 0 1 0 4.94 13.48z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1013.45 543.44L1025.19 543.44L1025.19 555.18L1013.45 555.18z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M383.75 57.01L422.48 57.01L422.48 100.18L383.75 100.18z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M119.16 460.95a37.21 37.21 0 1 0-8.46-73.94z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  
  height: 100%;
}

.main-component{
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: center;
  gap:50px;
  /* background: url(./assets/Animated\ Shape.svg); */
  /* background-image: url(./assets/Glowing\ Stars.svg) , linear-gradient(to right, #c9d6ff, #e2e2e2); */
 
} 

.main-component h1{
  /* background-image: linear-gradient(red,blue); */
  color: white;
  background-clip: text;
  font-size: 4.5rem;
}

.start-btn {
  /* background: linear-gradient(90deg, #ff004c, #6a00ff); */
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  padding: 15px 40px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.start-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255,0,76,0.6);
}

.instructions {
  color: #f0f0f0; /* light text for dark background */
  font-size: 1rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 1.5rem auto;
  padding: 1rem 1rem;
  background: rgba(255, 255, 255, 0.05);

  /* background: rgb(58, 58, 58); */
  border-left: 4px solid #4ade80; 
  border-radius: 0.75rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
  margin-right: 1rem;
  margin-left: 1rem;
}

.instructions strong {
  color: #4ade80; 
  font-weight: 600;
}


.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #FF3E6C;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #FF3E6C;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #FF3E6C;
    }
    50% {
      box-shadow: 0 0 0 #FF3E6C;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #FF3E6C;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  
      