.quiz-page{
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    align-items: center;
}

.score{
    align-self:flex-end;
    margin-right: 50px;
    color:white;
}

.score span{
    margin-left: 15px;
    font-size: 35px;
}

.progress-section{
    display: flex;
    flex-direction: row;
    gap:5px;
    margin-left: auto;
    margin-right: auto;
    
}

.progress-outer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    /* border: 1px solid red; */
    height: fit-content;
    gap:5px;

}

.progressBtn{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: #36454F;
    border:none;
    color:white;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
.progressArrow{
    width: 30px;
    height: 6px;
    align-self: center;
    background-color:#36454F
}

/* .progressBtn::after{
    content: "";
    width: 30px;
    height: 3px;
} */

/* .neutral{
    background-color: #334155;
}

.active{
    background-color: white;
    
    color:black;
    border:4px solid #2563eb;
    box-shadow: 0 0 6px 2px rgba(37, 99, 235, 0.7);

}
.neutralIncorrect{
    background-color:#EF4444;
    border:1px solid #EF4444;
    color:white
}

.neutralCorrect{
    background-color: #22C55E;
    border:1px solid #22C55E;
    color:white
}

.activeIncorrect{
    background-color: #EF4444;
    color:white;
    border:4px solid #2563eb;
    box-shadow: 0 0 6px 2px rgba(37, 99, 235, 0.7);
}
.activeCorrect{
    background-color: #22C55E;
    color:white;
    border:4px solid #2563eb;
    box-shadow: 0 0 6px 2px rgba(37, 99, 235, 0.7);
    
} */

.ArrowColor{
    border:4px solid #2563eb;
}



.quiz-section{
    align-self: center;
}

.quiz-div{

    display: flex;
    flex-direction: column;
    gap:20px;
    align-self: center;
    width: 700px;
}


.quiz-section h1{
    color:white;
    font-size: 1.5rem;
    text-align: justify;
}



.ques-options{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    row-gap:20px;
    column-gap: 30px;
    min-height:150px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.ques-options button{
    background-color: #B3E5FC;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    color:#0D47A1;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 1s;
    
}

.ques-options button:hover{
    opacity: 1;
}

.ques-options .CorrectAns{
    background-color: #22C55E;
    color:white;
    animation-name: correctAnsAnim;
    animation-duration: 0.5s;
    opacity: 1;
}


.game-over{
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:350px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    flex-direction: column;
    padding: 20px;
    /* justify-content: center; */
    align-items: center;
    gap:20px;
    background: url(./assets/bgQuiz5.svg);
    color:white;
}

.close-popup-btn{
    align-self: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
}
.close-popup-btn:hover{
    color:#FF3E6C;
}
.close-popup-btn:active{
    color:#0D47A1;
}

.game-over h1{
    font-size: 35px;
    /* color:#FF3E6C; */
}

.game-over h2{
    font-size: 45px;
    /* color:#FF3E6C; */
}

.play-again-btn{
    display: inline-block;
    background-color: #6495ED;
    color:white;
    border:none;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer;
}







/* @media(max-width:518px){
    .quiz-div{
    width: 400px;
    }

}
@media(max-width:428px){
    .quiz-div{
    width: 300px;
    }

} */
/* 
@media(max-width:750px){
    .quiz-page{
        gap:20px;
    }
    .score span{
        font-size: 25px;
    }

} */

@media (max-width:878px){
    .progressBtn{
        width:30px;
        height: 30px;
        font-size: 1rem;
    }
    .quiz-section h1{
        font-size: 1rem;
    }
    .ques-options button{
        font-size: 0.75rem;
    }
}

@media(max-width:768px){
    .quiz-div{
        width: 600px;
    }
    .ques-options{
    display: grid;
    grid-template: repeat(4,1fr)/1fr;
    row-gap:30px;
    }
    .ques-options button{
        padding: 20px;
        border-radius: 5px;
    }
}

@media(max-width:695px){
    .progressBtn{
        width:25px;
        height: 25px;
        font-size: 0.75rem;
    }
}
@media(max-width:626px){
    .progressBtn{
        width:20px;
        height: 20px;
        font-size: 0.5rem;
    }
    .quiz-div{
    width: 500px;
    }
    .quiz-section h1{
        font-size: 0.75rem;
    }
    .ques-options button{
        font-size: 0.5rem;
    }
    .ques-options{
    row-gap:20px;
    }

}
@media(max-width:577px){
    .progress-section{
        display:none;
    }
    .quiz-div{
    width: 300px;
    }
    .quiz-section h1{
        font-size: 1.25rem;
    }
    .ques-options button{
        font-size: 1rem;
    }

}
